@page
@model Book_Sharing.Pages.LibriModel
@{
    ViewData["Title"] = "Cerca libri";
}
<div class="row">
    <form class="col s12" method="get" id="frmSrc">
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Titolo..." type="text" name="titolo" value="@Model.Titolo" id="inputTitolo">
                <label for="inputTitolo">Titolo</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Autore..." type="text" name="autore" value="@Model.Autore" id="inputAutore">
                <label for="inputAutore">Autore</label>
            </div>
        </div>
    </form>

    <a class="green waves-effect waves-light btn-large" onclick="Cerca()" style="background-color:#4caf50;"><i class="material-icons right">search</i>Cerca</a>
</div>


@if (string.IsNullOrEmpty(Model.Titolo) && string.IsNullOrEmpty(Model.Autore))
{
    <h5 style="color:#145B18">Libri più cercati</h5>

    <div class="row">
        @for (int y = 0; y < 3; y++)
        {
            @if (Model.MostRead.Count <= y)
            {
                <div class="col-md-4" style="margin-bottom:4%;">
                    <div class="card" style="margin-left:2%;margin-right:2%;background-color:#e8f5e9;"></div>
                </div>
            }
            @if (Model.MostRead.Count > y)
            {
                <div class="col-md-4" style="margin-bottom:4%;">
                    <div class="card overflow-hidden" style="margin-left:2%;margin-right:2%;height:100%;">
                        <a asp-page="Libro" asp-route-id="@Model.MostRead[y].id">
                            <img src="@(Model.MostRead[y].volumeInfo.imageLinks != null ? Model.MostRead[y].volumeInfo.imageLinks.smallThumbnail : "")" class="card-img-top" style="height:75%;" alt="Copertina">
                            <div class="card-body">
                                <h5 class="card-title">@(/*Model.Libri[x + y].volumeInfo.title.Length > 20 ? Model.Libri[x + y].volumeInfo.title.Substring(0, 17) + "..." : */Model.MostRead[y].volumeInfo.title)</h5>
                                <p class="card-text">@(Model.MostRead[y].volumeInfo.authors != null ? /*(Model.Libri[x + y].volumeInfo.authors[0].Length > 20 ? Model.Libri[x + y].volumeInfo.authors[0].Substring(0, 17) + "..." : */Model.MostRead[y].volumeInfo.authors[0]/*)*/ : "Anonimo")</p>
                                <p>@(Model.MostRead[y].volumeInfo.publisher != null ? Model.MostRead[y].volumeInfo.publisher : "")</p>
                            </div>
                        </a>
                    </div>
                </div>
            }

        }
    </div>
}
@if (Model.Libri == null && Model.MostRead == null)
{
    <div>
        <p class="text-danger">Nessun risultato trovato</p>
    </div>
}
@if (Model.Libri != null)
{
    @for (int x = 0; x < 9; x += 3)
    {
        @if (Model.Libri.Count <= x)
        {
            break;
        }

        <div class="row">
            @for (int y = 0; y < 3; y++)
            {
                @if (Model.Libri.Count <= x + y)
                {
                    <div class="col-md-4">
                        <div class="card" style="margin-left:2%;margin-right:2%;background-color:#e8f5e9;"></div>
                    </div>
                }
                @if (Model.Libri.Count > x + y)
                {
                    <div class="col-md-4">
                        <div class="card" style="margin-left:2%;margin-right:2%;height:100%;">
                            <a asp-page="Libro" asp-route-id="@Model.Libri[x+y].id">
                                <img src="@(Model.Libri[x+y].volumeInfo.imageLinks != null ? Model.Libri[x+y].volumeInfo.imageLinks.smallThumbnail : "")" class="card-img-top" style="height:75%;" alt="Copertina">
                                <div class="card-body">
                                    <h5 class="card-title">@(/*Model.Libri[x + y].volumeInfo.title.Length > 20 ? Model.Libri[x + y].volumeInfo.title.Substring(0, 17) + "..." : */Model.Libri[x + y].volumeInfo.title)</h5>
                                    <p class="card-text">@(Model.Libri[x + y].volumeInfo.authors != null ? /*(Model.Libri[x + y].volumeInfo.authors[0].Length > 20 ? Model.Libri[x + y].volumeInfo.authors[0].Substring(0, 17) + "..." : */Model.Libri[x + y].volumeInfo.authors[0]/*)*/ : "Anonimo")</p>
                                    <p>@(Model.Libri[x + y].volumeInfo.publisher != null ? Model.Libri[x + y].volumeInfo.publisher : "")</p>
                                </div>
                            </a>
                        </div>
                    </div>
                }

            }
        </div>
    }

    <div class="row">
        <div class="col">
            <a class="waves-effect waves-light btn-large @(Model.Pagina == 1 ? "disabled" : "")" style="width: 100%;background-color:#4caf50;" onclick="Precedente()"><i class="material-icons left">arrow_back</i>Precedente</a>
        </div>
        <div class="col" style="margin-top:-5px;">
            <p style="text-align:center; font-size:2.5em;">Pagina: @(Model.Pagina)/@(Math.Ceiling((decimal)Model.Risultati / 9))</p>
        </div>
        <div class="col">
            <a class="waves-effect waves-light btn-large @((Model.Pagina)*9 >= Model.Risultati ? "disabled" : "")" style="width: 100%;background-color:#4caf50;" onclick="Successiva()"><i class="material-icons right">arrow_forward</i>Successiva</a>
        </div>
    </div>

    <form method="get" id="frmPag">
        <input id="pagina" type="hidden" name="pagina" value="@Model.Pagina">
        <input type="hidden" name="titolo" value="@Model.Titolo">
        <input type="hidden" name="autore" value="@Model.Autore">
    </form>
}


<script>
                function Cerca() {
                    document.getElementById("frmSrc").submit();
                }

                function Successiva() {
                    document.getElementById("pagina").value = parseInt(document.getElementById("pagina").value) + 1;
                    document.getElementById("frmPag").submit();
                }

                function Precedente() {
                    document.getElementById("pagina").value = parseInt(document.getElementById("pagina").value) - 1;
                    document.getElementById("frmPag").submit();
                }

            document.getElementById("inputTitolo")
            .addEventListener("keyup", function(event) {
            event.preventDefault();
            if (event.keyCode === 13) {
                    Cerca();
            }
        });

        document.getElementById("inputAutore")
            .addEventListener("keyup", function(event) {
            event.preventDefault();
            if (event.keyCode === 13) {
    Cerca();
            }
        });

</script>